<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>MyWallet</title>
    <link rel="stylesheet" href="/indexStyle.css" />
    
</head>
<body>
	<div class="container">
		<div class = "griditem1">
			<h1 style="color: #4485b8;">
				<span style="background-color: #000000; color: #ffffff; padding: 0 200px;">My Wallet</span>
			</h1>
			<h4>Manage your expenditures!</h4>
		</div>

		<div class = "griditem2">		
			  	<button onclick="history.back()">Go Back</button>
		 				<br>		
				<ul style = "color: #000000; font-weight: bold; ">
					  <li><a href="/userPage">Users</a></li>
					  <li><a href="empty">About</a></li>
				</ul>
		</div>
		<div class = "griditem3">				
				   <h1 style="color:black;">Enter your next expenditure</h1><br>
   				
					<form class = "formExpenditure" th:action="@{saveExpenditure}" th:object = "${expenditure}" method ="POST">
					<input type ="hidden" th:field = "*{id}"/>
					
							<font  color = black>User identification number</font><br>
						<input type = "number" th:field = "*{user_id}" name="user_id" /><br><br>
						
							<font color = black>Name of expenditure</font><br>
						<input type = "text" th:field = "*{name}" th:value = "name"/><br><br>
						
							<font color = black>Money spent</font><br>
						<input type = "number"  step="0.01" th:field = "*{money}" /><br><br>
						
							<font color = black>Description</font><br>
						<input type = "text" th:field = "*{description}"/><br><br>
						
						
						<input type = "submit" value="Save" class="save">
			
					</form>
					<br>
		</div>
		
		<div class = "griditem4">	
			<table class="blueTable" style="vertical-align: top; height: 100px;">
				
				<thead>
					<tr style="height: 30px;">
					<td style="height: 30px; width: 50px; ">IDENTIFICATION NUMBER</td>
					<td style="height: 30px; width: 100px;">NAME</td>
					<td style="height: 30px; width: 100px;">MONEY</td>
					<td style="height: 30px; width: 100px;">DESCRIPTION</td>
					<td style="height: 30px; width: 100px;">USER ID</td>
					<td style="height: 30px; width: 100px;">ACTIONS</td>
					</tr>
				</thead>
				
				<tbody>
				
				    <tr th:each="expenditure : ${expenditureList}" th:href = "@{userPage/update}">
				    
				    	
			            <td th:text="${expenditure.id}"></td>
			            <td th:text="${expenditure.name}"></td>
			            <td th:text="${expenditure.money}"></td>
			            <td th:text="${expenditure.description}"></td>
			            <td th:text="${expenditure.user_id}"></td>
			            <td>
			            	<input type="button" value="Update" th:action="@{updateExpenditure}" th:object = "${expenditure}" /><br><br> 
			            </td>
			   		</tr>
				</tbody>
				
			</table>
		</div>
</div>

</body>
</html>
