<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>MyWallet</title>
    <link rel="stylesheet" href="css/indexStyle.css" />
    
	<script src="/js/timeAndDate.js"></script>
	<script src="/js/setDateToForm.js"></script>
	<script src="/js/startFunctions.js"></script>
    
    
</head>
<body onload="startFunctions();">
	<div class="container">
		<div class = "griditem1">
			<h1 style="color: #4485b8;">
				<span style="background-color: #000000; color: #ffffff; padding: 0 200px;">My Wallet</span>
			</h1>
			<h4>Manage your expenditures!</h4>
			<div class="square"></div>
		</div>

		<div class = "griditem2">	
		
				<br>
   				<div id="clock" style="text-align: center"></div>
   				
   				<div id="date" style="text-align: center"></div><br>
			  	
				<a href="/userPage">USERS</a><br>
				<a href="empty">ABOUT</a><br><br>

				<button onclick="history.back()">BACK</button>	
		</div>
		
		<div class = "griditem3">				
				   
   				
					<form class = "formExpenditure" th:action="@{saveExpenditure}" th:object = "${expenditure}" method ="POST">
						<h1 style="color:black;">Enter your next expenditure</h1><br>
					
						<input type ="hidden" th:field = "*{id}"/>
					
						<font color = black>User</font><br>
						<select id ="user_id" name = "user_id">
						    <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.id} + ${' - '} + ${user.name} + ${' '} + ${user.surname} "></option>
						</select><br><br>
						
							<font color = black>Name of expenditure</font><br>
						<input type = "text" id ="name" name = "name" /><br><br>
						
							<font color = black>Money spent</font><br>
						<input type = "number"  step="0.01" id ="money" name = "money" /><br><br>
						
							<font color = black>Category</font><br>
						<select id ="category_id" name = "category_id">
						    <option th:each="category : ${expenditureCategoryTab}" th:value="${category.id}" th:text="${category.id} + ${' - '} +${category.name}"></option>
						</select><br><br>
						
							<font color = black>Date</font><br>
						<input  type = "date" name = "date" id = "dateInput" /><br><br>
						
							<font color = black>Description</font><br>
						<input type = "text" id ="description" name = "description"/><br><br>
						
						
						<input type = "submit" value="Save expenditure">
			
					</form>
					<br>
		</div>
		
		
		<div class = "griditem4">	
		
			<div class="square"></div>
			
			<form th:action="@{filterByUser}" th:object = "${user}" method ="GET">
						
				<font color = black>Filter by user</font>
				<select id ="id" name = "id">
					<option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.id}" ></option>
				</select>
					
				<input type = "submit" value="Ok">
			</form>
			
			<form th:action="@{/}" >
				<input type = "submit" value="Reset">
			</form>
		
			<table class="blueTable" style="vertical-align: top; height: 100px;">
				
				<thead>
					<tr style = "height: 30px;">
					<td style = "max-width: 50px;">NUMBER</td>
					<td style = "max-width: 50px;">IDENTIFICATION NUMBER</td>
					<td style = "width: 200px;">NAME</td>
					<td style = "width: 100px;">MONEY</td>
					<td style = "width: 100px;">CATEGORY</td>
					<td style = "width: 100px;">DATE</td>
					<td style = "width: 400px;">DESCRIPTION</td>
					<td style = "max-width: 50px;">USER ID</td>
					<td style = "max-width: 50px;"></td>
					<td style = "max-width: 50px;"></td>
					</tr>
				</thead>
				
				<tbody>
				
				    <tr th:each="exp, expStat: ${expenditureList}">
				    	<td th:text="${expStat.count}" style=" text-align:left;"></td>
			            <td th:text="${exp.id}"></td>
			            <td th:text="${exp.name}"></td>
			            <td th:text="${exp.money}"></td>
			            <td th:text="${expenditureCategoryTab[exp.category_id-1].name}"></td>
			            <td th:text="${exp.date}"></td>
			            <td th:text="${exp.description}"></td>
			            <td th:text="${exp.user_id}"></td>

			            <td>
			            	<form th:action = "@{/setExpenditureToUpdate}" th:object = "${expenditure}">
			            		<input type = "hidden" th:value = "${exp.id}" id="id" name = "id" />
			            		<input type = "submit" value = "Update" />

			            	</form>
			            </td>
			            <td>
			            	<form th:action = "@{/deleteExpenditure}" th:object = "${expenditure}">
			            		<input type = "hidden" th:value = "${exp.id}" id="id" name = "id" />
			            		<input type = "submit" value = "Delete" />

			            	</form>
			            </td>
			   		</tr>
			   		          
				</tbody>
				
			</table>
		</div>
		
		
		<div class = "griditem5">	
		
		</div>
		
</div>

</body>
</html>
